@CHARSET "ISO-8859-1";
.footer-btn{
	/* margin-top:9px;
	color:#000000;
	font-size:15px;*/
	background-color:#1ea167;
	border-color: #1ea167;
	border: none;
}
.starter-body .baniere1{
	font-size:40px;
	/*color:#FFFF66;*/
}
.starter-body .liens ul li a {
	color:#0d000d;
	font-size:30px;
}

.footer-tabView{
	/*background-color:#FFFF66;*/
	background:hsl(240, 61%, 85%)
}
.footer-btn-exit{
	background-color: #d9534f;
	float:right;
}
.footer-btn-ok{
text-align:center;
    width: 90px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  margin-left:37%;
  /*border: 3px solid #000000;*/
  /*background:hsl(240, 61%, 85%);*/
  background:#337ab7;
  font-size: 18px;
  color:white;  ;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.footer-btn-ok:hover {
  animation: spin 0.3s ease-in-out;
  -webkit-animation: spin 0.3s ease-in-out;
  -moz-animation: spin 0.3s ease-in-out;
  -ms-animation: spin 0.3s ease-in-out;
  -o-animation: spin 0.3s ease-in-out;
  cursor: pointer;
}

.footer-tabView .p-view{
	/*background-color:#FFFF66;*/
	background:hsl(240, 61%, 85%)
}

.main-wrap {
  background: #ff5335;
  width: 100%;
  height:100%;
  position: absolute;
}
.login-main {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  margin-top:50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.login-main p {
  text-indent: 10px;
}
.footer-tabView .box1 {
  height: 40px;
  text-indent: 10px;
  width: 90%;
  margin-bottom: 2px;
  color: #3b424d;
  font-size: 15px;
  font-weight: 400;
}
.border1 {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.border2 {
  -webkit-border-radius: 0px 0 5px 5px;
  -moz-border-radius: 0px 0 5px 5px;
  -ms-border-radius: 0px 0 5px 5px;
  -o-border-radius: 0px 0 5px 5px;
  border-radius: 0px 0 5px 5px;
}
.form-group .send {
	text-align:center;
  margin-left:7rem;
  width: 90px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  margin-left:37%;
  /*border: 3px solid #000000;*/
  /*background:hsl(240, 61%, 85%);*/
  background:#337ab7;
  font-size: 18px;
  color:white;  ;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.send:hover {
  animation: spin 0.3s ease-in-out;
  -webkit-animation: spin 0.3s ease-in-out;
  -moz-animation: spin 0.3s ease-in-out;
  -ms-animation: spin 0.3s ease-in-out;
  -o-animation: spin 0.3s ease-in-out;
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
 